$dark-brown: #5a4924;
$green: #61A166;

// MAP
$map-background: #ececdf;
$map-land-fill: $map-background;
$map-stroke-color: $dark-brown;
$map-text-color: #FFF;
$map-text-out-color: $dark-brown;
$map-font-family: 'Sue Ellen Francisco';
$map-font-size: rem-calc(25);

// SLOGAN BG
$slogan-background: $dark-brown;
